.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.wp-block-image{
   
}

.entry .entry-content a{
    text-decoration:none;
    font-size: 25px;
    font-family: 'Montseterrat';
}


img:hover {
    opacity: 0.5;
}
